{% extends "base.html" %}

{% load tags %}
{% load static %}

{% block title %} - Stats{% endblock %}

{% block top-menu-left %}
<span class="h4 mb-0 mr-3 text-truncate d-none d-md-block">Statistics</span>
{% endblock %}

{% block top %}
<span class="h4 mb-0">Statistics</span>
{% endblock %}

{% block content %}
<!-- SatNOGS DB Calculating Stats -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card card-info first-card">
        <div class="card-header card-satnogs-header">
          Statistics
        </div>
        <div class="card-body">
          <p>
              Statistics calculation is in progress and it may take several minutes to complete.
          </p>
          <p>
              Please come back later!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

